<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Dodaj wyjście</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="validationForm">
      <div class="row">
        <div class="col">
          <div class="md-form">
            <select class="browser-default custom-select " formControlName="soldierForm">
              <option selected value="0">Wybierz żołnierza</option>
              <option *ngFor="let el of soldierElements; let i = index"
                      value={{el.id}}>
                {{el.firstName}} {{el.lastName}} {{el.pesel}}
              </option>
            </select>
<!--            <mdb-error *ngIf="startDateForm.invalid && (startDateForm.dirty || startDateForm.touched)">-->
<!--              Musisz wybrać żołnierza-->
<!--            </mdb-error>-->
<!--            <mdb-success *ngIf="startDateForm.valid && (startDateForm.dirty || startDateForm.touched)">-->
<!--              Ok-->
<!--            </mdb-success>-->
          </div>
          <div class="md-form">
            <input mdbInput mdbValidate formControlName="startDateForm" minLength="8" maxLength="25"
                   type="text" class="form-control" id="form5">
            <label for="form6">Data wyjścia</label>
            <mdb-error *ngIf="startDateForm.invalid && (startDateForm.dirty || startDateForm.touched)">
              Musisz wybrać datę
            </mdb-error>
            <mdb-success *ngIf="startDateForm.valid && (startDateForm.dirty || startDateForm.touched)">
              Ok
            </mdb-success>
          </div>
          <div class="md-form">
            <input mdbInput mdbValidate formControlName="endDateForm" minLength="8" maxLength="25"
                   type="text" class="form-control" id="form6">
            <label for="form6">Data powrotu</label>
            <mdb-error *ngIf="endDateForm.invalid && (endDateForm.dirty || endDateForm.touched)">
              Musisz wybrać datę
            </mdb-error>
            <mdb-success *ngIf="endDateForm.valid && (endDateForm.dirty || endDateForm.touched)">
              Ok
            </mdb-success>
          </div>
          <div class="md-form">
            <input mdbInput mdbValidate formControlName="whereForm" minLength="8" maxLength="25"
                   type="text" class="form-control" id="form1">
            <label for="form1">Gdzie</label>
            <mdb-error *ngIf="whereForm.invalid && (whereForm.dirty || whereForm.touched)">
              Musisz podać gdzie
            </mdb-error>
            <mdb-success *ngIf="whereForm.valid && (whereForm.dirty || whereForm.touched)">
              Ok
            </mdb-success>
          </div>
          <div class="md-form">
            <input mdbInput mdbValidate formControlName="typeForm" minLength="8" maxLength="25"
                   type="tel" class="form-control" id="form7">
            <label for="form7">Cel</label>
            <mdb-error *ngIf="typeForm.invalid && (typeForm.dirty || typeForm.touched)">
              Musisz podać cel
            </mdb-error>
            <mdb-success *ngIf="typeForm.valid && (typeForm.dirty || typeForm.touched)">
              Cel poprawny
            </mdb-success>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
            (click)="modalRef.hide()" mdbWavesEffect>Zamknij
    </button>
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="validationForm.invalid" (click)="addRow()">Zapisz
    </button>
  </div>
</div>
