
@media all and (min-width: 768px) {
  tr  {
    td {
      vertical-align: middle !important;
      white-space: pre-wrap
    }
    span {
      &:not([class]) {
        padding: 1rem 1rem;
      }
    }
  }
}
