<div>
    <app-page-header [heading]="'Klasy'" [icon]="'fa-group'"></app-page-header>
    <div class="container-12">
        <div class="card-body">
            <div class="row">
                <div class="card col-md-12">
                    <div class="card-body">
                        <h5 class="card-title text-center">Utwórz nową kompanię</h5>
                        <form [formGroup]="form">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-5 my-auto">
                                        <select class="browser-default custom-select " formControlName="commander">
                                            <option *ngFor="let el of commanderElements; let i = index"
                                                value={{el.pesel}}>
                                                {{el.firstName}} {{el.lastName}} {{el.pesel}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 my-auto">
                                        <div class="form text-center">
                                            <input formControlName="name" mdbInput type="text" id="form"
                                                class="form-control" placeholder="Podaj nazwę grupy">
                                        </div>
                                    </div>
                                    <div class="form  text-center col-md-1">
                                        <button mdbBtn [disabled]="form.invalid" color="success" size="xl" mdbWavesEffect
                                            (click)='editCompany()'>Edytuj</button>
                                    </div>
                                    <div class="form  text-center col-md-1">
                                    <button mdbBtn color="danger" size="xl" mdbWavesEffect
                                            (click)='cancel()'>Anuluj</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="card col-md-12">
                                <div class="card-body">
                                    <h6 class="card-title text-left">Wybierz żołnierzy</h6>
                                    <div class="md-form">
                                        <input type="text" [(ngModel)]="searchText" class="form-control" id="search"
                                            mdbInput />
                                        <label for="search">Szukaj</label>
                                    </div>
                                    <div id="table">
                                        <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true"
                                            class="z-depth-1 text-center">
                                            <thead class="sticky-top">
                                                <tr>
                                                    <th *ngFor="let head of soldierHeadElements; let i = index"
                                                        [mdbTableSort]="soldierElements" [sortBy]="soldierTableNames[i]"
                                                        scope="col">
                                                        {{head | titlecase}}
                                                        <mdb-icon fas icon="sort"></mdb-icon>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody #row>
                                                <tr *ngFor="let el of soldierElements; let i = index">
                                                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                                                        scope="row">
                                                        <input type="checkbox" [(ngModel)]='el.isAssigned'>
                                                    </th>
                                                    <td
                                                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                        {{el.firstName}}
                                                    </td>
                                                    <td
                                                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                        {{el.lastName}}
                                                    </td>
                                                    <td
                                                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                        {{el.pesel}}
                                                    </td>
                                                    <td
                                                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                                        {{el.company}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot class="grey lighten-5 w-100">
                                                <tr>
                                                    <td colspan="8">
                                                        <mdb-table-pagination [tableEl]="tableEl" paginationAlign=""
                                                            [searchDataSource]="soldierElements">
                                                        </mdb-table-pagination>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
