<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'Główna' }}</span>
        </a>
        <a [routerLink]="['book']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Książka' }}</span>
        </a>
        <a [routerLink]="['reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-male"></i>&nbsp;
            <span>{{ 'Meldunki' }}</span>
        </a>
        <a [routerLink]="['settlement']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-graduation-cap"></i>&nbsp;
            <span>{{ 'Rozliczenie' }}</span>
        </a>
        <a [routerLink]="['equipment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-secret"></i>&nbsp;
            <span>{{ 'Sprzęt' }}</span>
        </a>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{firstName}} {{lastName}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Ukryj' }}</span>
    </div>
</nav>
